#container {
    padding: 20px 60px;
    /* border: 10px solid; */
    display: flex;
    justify-content: space-between;
}


#container>div>h1 {
    margin-top: 30px;
    font-size: 45px;
}

#container>div>p {
    margin-top: 30px;
    font-size: 25px;
}

#container>div:nth-child(1)>div {
    width: 160px;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    /* border: 1px solid red; */
    color: #00b289;
    font-size: 18px;
}

#container>div:nth-child(1)>input {
    margin-top: 30px;
    padding: 30px;
}

#container>div:nth-child(1)>input[type=email] {
    padding: 30px 115px;
    background-color: white;
    border: 2px solid #00b289;
    border-radius: 10px 0px 0px 10px;
}

#container>div:nth-child(1)>input[type=submit] {
    color: white;
    background-color: #00b289;
    border: 2px solid #00b289;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
}

#container>div+div>img {
    width: 100%;
}

#makeMore {
    margin-top: 100px;
    text-align: center;
}

#makeMore>h2 {
    font-size: 35px;
}

#makeMore>p {
    font-size: 25px;
    width: 52%;
    margin: auto;
}

#makeMore2 {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

#makeMore2>div>h2 {
    margin-bottom: 50px;
}



#trustedby500k {
    text-align: center;
    padding: 0px 430px;
    margin-bottom: 70px;
}

#trustedby500k>h2 {
    font-size: 30px;
    line-height: 50px;
}

#trustedby500k>p {
    margin-top: 20px;
    font-size: 25px;
}

#trustedby500k2 {
    width: 60%;
    margin: auto;
    display: flex;
    gap: 290px;
    margin-bottom: 70px;
}

#trustedby500k2>div>h3 {
    margin-top: 30px;
}

#trustedby500k2>div>p {
    margin-top: 15px;
}

#simplify {
    width: 60%;
    margin: auto;
    /* border: 1px solid red; */
    margin-bottom: 100px;
    border-radius: 10px;
}

#simplify>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#simplify>div>div {
    width: 50%;
    /* border: 1px solid red; */
}

#simplify>div:first-child>div:first-child {
    width: 60%;
}

#simplify>div>div>button {
    background-color: #00b289;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 10px;
    /* background-color: #f2faff; */
}

#simplify>div:first-child {
    padding: 70px 50px;
    background-color: #E7F6F2;
    border-radius: 10px 10px 0px 0px;
}

#simplify>div:first-child>div+div {
    display: flex;
    justify-content: end;
}

#simplify>div:last-child>div+div {
    display: flex;
    justify-content: space-around;
}

#simplify>div+div>div:first-child {
    width: 150%;
}

#simplify>div+div {
    padding: 30px 50px;
    background-color: #A5C9CA;
    border-radius: 0px 0px 10px 10px;
}

#simplify>div+div>div>p {
    font-size: 20px;
}