* {
    box-sizing: border-box;
}

#box {
    width: 80%;
    margin: auto;
    /* border: 2px solid red; */
    margin-top: 100px;
}

#box>div {
    margin-bottom: 100px;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 800px;
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 800px;
    display: none;
}

.tabcontent>h1 {
    margin-bottom: 10px;
}

.tabcontent>h1+p {
    font-size: 25px;
    width: 45%;
    margin-bottom: 20px;
}

.tabcontent>p+p {
    color: #00b289;
} 

.tabcontent img {
    width: 80%;
    height: 500px;
    display:inline;
    right: 20px;
}

